#series {
  padding: 1.3em 0 0;
}

.series-banner {
  margin-left: -40px;
}

.series-k9 {
  width: 280px;
  text-align: right;
}

.series-title {
  line-height: 1em;
}

.series-sub {
  line-height: 0.8em;
}

.series-btn:not(:first-child) {
  margin-left: 20px;
}

.series-btn {
  width: 250px;
  line-height: 1em; 
}

.gallery-item {
  width: calc(100%/6);
}
