/* Banner */
#k9-banner {
    height: 100vh;
    background-position: center center;
    background-size: cover;
    position: relative;
    width: 100%;
}

/* Mint */
#k9-mint {
    background-color: #06101e;
}

.k9-mint-outer {
    width: 80%;
    margin: 0 auto;
}

.k9-mint-title {
    padding-left: 10px;
    line-height: 1em;
}

.k9-mint-sub {
    line-height: 0.8em;
}

.k9-mint-box {
    border: 3px solid var(--neongreen);
}

.k9-mint-box-text {
    line-height: 0.8em;
}

.k9-mint-amt-btn {
    height: 60px;
    width: 60px;
    line-height: 0.4em;
    border-radius: 0;
}

.k9-mint-amount {
    height: 60px;
    line-height: 0.5em;
    width: 60%;
    border: 1px solid var(--neongreen);
}

.k9-mint-total {
    border-style: solid;
    border-width: 3px;
    border-image: linear-gradient(356deg, rgba(133,0,255,1) 0%, rgba(250,0,255,1)) 1;
}

.k9-mint-btn-wrap {
    width: 50%;
    margin: 0 auto;
}

.k9-mint-btn {
    width: 100%;
    height: 60px;
    line-height: 0.4em;
    border-radius: 0;
}

/* Rarity */
#k9-rarity {
    background-color: #0c1521;
}

.k9-rarity-border {
    width: 150px;
    height: 5px;
    margin: 0 auto 2em;
    background-color: #fe0054;
}

.k9-rarity-title,
.k9-rarity-sub {
    line-height: 1em;
}

.k9-rarity-traits-col {
    width: 48%;
}

.k9-rarity-traits-col.margin-right-5 {
    margin-right: 1%;
}

.k9-rarity-traits-col.margin-left-5 {
    margin-left: 1%;
}

.k9-rarity-traits-item {
    position: relative;
}

.k9-rarity-traits-details-wrap-right {
    width: 60%;
    margin-right: 5%;
}

.k9-rarity-traits-details-wrap-left {
    width: 60%;
    margin-left: 5%;
}

.k9-rarity-traits-img-wrap {
    width: 35%;
}

.k9-rarity-traits-img-wrap.img-right {
    position: relative;
    right: -20px;
}

.k9-rarity-traits-img-wrap.img-left {
    position: relative;
    left: -20px;
}

.k9-rarity-traits-title {
    font-weight: bold;
    line-height: 1em;
}

.k9-rarity-traits-sub {
    line-height: 1em;
}

.k9-rarity-traits-mongrel {
    margin-left: 30%;
    width: 35%;
    position: relative;
    right: -35px;
}

/* Breed Stats */
#k9-breed-stats {
    background-color: #0c1521;
}

.k9-breed-stats-wrap {
    width: 80%;
    margin: 0 auto;
}

.k9-breed-stats-title,
.k9-breed-stats-name,
.k9-breed-stats-count {
    line-height: 0.7em;
}

.k9-breed-stats-name {
    width: 30%;
}

.k9-breed-stats-bar-wrap {
    width: 70%;
}

.k9-breed-stats-bar {
    border: 3px solid;
    height: 25px;
    margin-right: 2%;
}

.k9-breed-stats-count {
    width: 2%;
}

/* K9 BREED STATS CLASSES */
/* CHANGE THE WIDTH (percentage minus 4%) DEPENDING ON THE ACTUAL NUMBER */
.blue-mongrel {
    border-color: var(--blue);
    background-color: #022f9b;
    width: 96%;
}

.brown-mongrel {
    border-color: var(--brown);
    background-color: #b35501;
    width: 76%;
}

.purple-mongrel {
    border-color: var(--purple1);
    background-color: #7600b8;
    width: 66%;
}

.tech {
    border-color: var(--red1);
    background-color: #c60038;
    width: 56%;
}

.hound {
    border-color: var(--neongreen);
    background-color: #00a79e;
    width: 46%;
}

.martian {
    border-color: var(--lightgreen);
    background-color: #009367;
    width: 36%;
}
