/* Banner */
#k9-banner {
    height: 100vh;
    background-position: center center;
    background-size: cover;
    position: relative;
    width: 100%;
}

/* Mint */
#k9-mint {
    background-color: #06101e;
}

.k9-mint-outer {
    width: 80%;
    margin: 0 auto;
}

.k9-mint-title {
    padding-left: 10px;
    line-height: 1em;
}

.k9-mint-sub {
    line-height: 0.8em;
}

.k9-mint-box {
    border: 3px solid var(--neongreen);
}

.k9-mint-box-text {
    line-height: 0.8em;
}

.k9-mint-amt-btn {
    height: 60px;
    width: 60px;
    line-height: 0.4em;
    border-radius: 0;
}

.k9-mint-amount {
    height: 60px;
    line-height: 0.5em;
    width: 60%;
    border: 1px solid var(--neongreen);
}

.k9-mint-total {
    border-style: solid;
    border-width: 3px;
    border-image: linear-gradient(356deg, rgba(133,0,255,1) 0%, rgba(250,0,255,1)) 1;
}

.k9-mint-btn-wrap {
    width: 50%;
    margin: 0 auto;
}

.k9-mint-btn {
    width: 100%;
    height: 60px;
    line-height: 0.4em;
    border-radius: 0;
}

.k9-mint-connect-overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(1em);
    z-index: 10;
}

/* Rarity */
#k9-rarity {
    background-color: #0c1521;
}

.k9-rarity-border {
    width: 150px;
    height: 5px;
    margin: 0 auto 2em;
    background-color: #fe0054;
}

.k9-rarity-title,
.k9-rarity-sub {
    line-height: 1em;
}

.k9-rarity-traits-col {
    width: 48%;
}

.k9-rarity-traits-col.margin-right-5 {
    margin-right: 1%;
}

.k9-rarity-traits-col.margin-left-5 {
    margin-left: 1%;
}

.k9-rarity-traits-item {
    position: relative;
}

.k9-rarity-traits-details-wrap-right {
    width: 60%;
    margin-right: 5%;
}

.k9-rarity-traits-details-wrap-left {
    width: 60%;
    margin-left: 5%;
}

.k9-rarity-traits-img-wrap {
    width: 35%;
}

.k9-rarity-traits-img-wrap.img-right {
    position: relative;
    right: -20px;
}

.k9-rarity-traits-img-wrap.img-left {
    position: relative;
    left: -20px;
}

.k9-rarity-traits-title {
    font-weight: bold;
    line-height: 1em;
}

.k9-rarity-traits-sub {
    line-height: 1em;
}

.k9-rarity-traits-mongrel {
    margin-left: 30%;
    width: 35%;
    position: relative;
    right: -35px;
}

/* Breed Stats */
#k9-breed-stats {
    background-color: #0c1521;
    margin-bottom: 5em;
}

.k9-breed-stats-wrap {
    width: 80%;
    margin: 0 auto;
}

.k9-breed-stats-title,
.k9-breed-stats-name,
.k9-breed-stats-count {
    line-height: 0.7em;
}

.k9-breed-stats-name {
    width: 30%;
}

.k9-breed-stats-bar-wrap {
    width: 70%;
}

.k9-breed-stats-bar {
    border: 3px solid;
    height: 25px;
    margin-right: 2%;
}

.k9-breed-stats-count {
    width: 2%;
}

/* K9 BREED STATS CLASSES */
/* CHANGE THE WIDTH (percentage minus 4%) DEPENDING ON THE ACTUAL NUMBER */
.blue-mongrel {
    border-color: var(--blue);
    background-color: #022f9b;
    width: 96%;
}

.purple-mongrel {
    border-color: var(--purple1);
    background-color: #7600b8;
    width: 76%;
}

.brown-mongrel {
    border-color: var(--brown);
    background-color: #b35501;
    width: 66%;
}

.tech {
    border-color: var(--red1);
    background-color: #c60038;
    width: 56%;
}

.hound {
    border-color: var(--neongreen);
    background-color: #00a79e;
    width: 46%;
}

.martian {
    border-color: var(--lightgreen);
    background-color: #009367;
    width: 36%;
}

/* K9 Roadmap */
#k9-roadmap {
    background-color: #06101e;
}

.k9-roadmap-border {
    width: 250px;
    height: 8px;
    margin: 1em auto 4em;
    background-color: #fe0054;
}

.k9-roadmap-title {
    line-height: 1em;
}

.k9-roadmap-wrap {
    display: grid;
    grid-template-columns: 7px 1fr;
    width: 60%;
    margin: 0 auto;
}

.k9-roadmap-border-vert {
    position: relative;
    background: var(--neongreen);
}

.k9-roadmap-border-vert.no-border {
    background: none;
}

.k9-roadmap-hex {
    position: absolute;
    top: 0;
    left: 50%;
    width: 25px;
    height: 25px;
    background-color: var(--neongreen);
    transform: translateX(-50%);
}

.k9-roadmap-content.margin-left-only{
    margin: 0 0 40px 50px;
}

.k9-roadmap-content.no-bottom {
    margin-bottom: 0 !important;
}

.k9-roadmap-text {
    line-height: 0.5em;
    margin-top: -10px;
}

.k9-roadmap-text-sub {
    line-height: 0.8em;
}

.k9-roadmap-text-sub.normal-line-height {
    line-height: 0.8em;
}

/* K9 FAQs */
#k9-faqs {
    background-color: #06101e;
}

.k9-faqs-border {
    width: 250px;
    height: 8px;
    margin: 0 auto 4em;
    background-color: #fe0054;
}

.k9-faqs-title {
    line-height: 1em;
}

#k9-faqs-accordion {
    width: 80%;
    margin: 0 auto 2em;
}

.k9-faqs-item {
    background-color: transparent;
    border: 2px solid #8700ff;
}

.k9-faqs-btn {
    line-height: 1em;
    background: transparent;
    position: relative;
}

.k9-faqs-btn:focus {
    border: none;
    box-shadow: none;
    outline: none;
}

.k9-faqs-btn:after {
    display: none;
}

.k9-faqs-btn:not(.collapsed) {
    color: var(--red);
    background-color: transparent;
}

.k9-faqs-collapse-btn {
    height: 60px;
    width: 60px;
    line-height: 0.4em;
    border-radius: 0;
    position: absolute;
    right: 0;
    bottom: 15px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.k9-faqs-btn:not(.collapsed) .k9-faqs-collapse-btn.minus {
    z-index: 10;
}

.k9-faqs-body {
    line-height: 1em;
    padding-top: 0;
}