#header {
  position: relative;
  height: 70px;
  z-index: 1000000;
  padding: 8px 0;
  border-bottom: 1px solid var(--neongreen);
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #0b1420;
}

.punks-nav-logo {
  width: 180px;
}

#punks-nav li {
  list-style: none;
}

#punks-nav li:not(:first-child) {
  margin-left: 20px;
}

#punks-nav li a {
  padding: 6px 10px;
  text-decoration: none;
}

#punks-nav li a:hover,
#punks-nav li a:focus {
  color: var(--red);
}

.punks-nav-btn {
  line-height: 1em;
}
