#header {
  position: relative;
  height: 85px;
  z-index: 1000000;
  padding: 0.8rem 0;
  border-bottom: 1px solid #0ffef1;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #0b1420;
}

#punks-nav {
  margin-top: -3px;
}

.punks-nav-logo-wrap {
  width: 55%;
}

.punks-nav-other {
  width: 45%;
}

.punks-nav-logo {
  width: 60%;
}

.punks-socmed-item {
  width: 6%;
}

.punks-socmed-item:not(:last-child) {
  margin-right: 30px;
}

.punks-nav-btn {
  margin-left: 20px;
}
