@import url(media-queries.css);

.punks-border {
  border-bottom: 4px solid #09fef1;
  margin: 5em 0 2em;
}

.punks-trapezoid-bottom {
  border-bottom: 35px solid #09fef1;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  width: 15%;
  margin: 0 auto;
}
