#banner {
  height: 100vh;
  background-position: center center;
  background-size: cover;
  position: relative;
  width: 100%;
}

.banner-content {
  background-color: rgba(7, 21, 36, 0.8);
  width: 90%;
  padding: 1.5em 3em;
  margin: 0 auto;
}

.banner-content-sub {
  line-height: 0.9em;
}
